  @import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Reenie+Beanie&display=swap');

.header {
    font-family: 'Edu TAS Beginner', cursive;
font-family: 'Reenie Beanie', cursive;
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: rgb(123, 16, 211);
}

.header__icon {
    width: 50px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

@media (max-width: 768px) {
    .header {
        margin: 0 -2.5rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
  
    .headerLeft, .headerRight {
        margin-top: 10px;
    }

    a > span {
        margin: 0 5px;
        font-size: 1rem;
    }

    .user__avatar {
        font-size: 1.2rem;
    }
}